<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>


<table>
	<thead>
		<th>ID</th>
		<th>Name</th>
		<th>Bio</th>
		<th>Picture</th>
		<th>Comments</th>
		<th>Followers</th>

	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.id %></td>
				<td><%= user.name %></td>
				<td><%= user.bio %></td>
				<td><%= user.picture %></td>
				<td><%= user.comments.count %></td>
				<td><%= user.followers.count %></td>
			</tr>
		<% end %>
	</tbody>
</table>

